/*** Account Styles ****/


/* Horiz Navigation */

.horiz-nav {
    float: left;
    width: 400px;
}

    .horiz-nav li {
        float: left;
        display: inline-block;
        cursor: pointer;
        padding: 4px 10px;
        font-size: 18px;
        background-color: #efefef;
        margin-right: 5px;
        border: 1px solid #dfdfdf;
    }

        .horiz-nav li.current {
            background-color: #dfdfdf;
        }


/* Account Content*/


.account-content {
    float: left;
    width: 100%;
}


/* Setting Styles */

#js-content-wrapper-my-info .account-settings {
    margin-left: 20px;
}

    #js-content-wrapper-my-info .account-settings tr td {
        padding-bottom: 10px;
        padding-right: 5px;
    }

    #js-content-wrapper-my-info .account-settings input {
        padding: 4px 6px;
        width: 260px;
    }

#subscription-holder {
    width: 460px;
}

#subscription-options {
    margin:20px 0px;
    width:100%;
}

#subscription-options thead tr td{
    color:#000;
}

#subscription-options tr td{
    text-align: center;
    color: #FFF;
    font-size: 22px;
    vertical-align: middle;
    padding: 12px 10px;
}

#subscription-options tr td:first-child{
    width:65px;
}

#subscription-options tr td:last-child{
    width:30px;
}

#subscription-options tr.far td{
    background-color:#5e9a9e;
}

#subscription-options tr.aud td{
    background-color:#706b62;
}

#subscription-options tr.bec td{
    background-color:#d95a1a;
}

#subscription-options tr.reg td{
    background-color:#9e7c92;
}

#subscription-options tr td .squaredTwo{
    margin:0px;
}

#account-update-subscription{
    float:right;
}


#update-subscription-holder h1 {
    font-weight:bold;
    font-size:16px;
    margin:20px 0px;
}

#update-subscription-holder .credit-card-info table {
    margin-top:20px;
}

    #update-subscription-holder .credit-card-info table tr td {
        padding:4px 10px;
    }



/* Practice Content */

#practice-options {
    margin-top: 20px;
    float: left;
    width: 60%;
}

#practice-options-section-types tr td{
    padding:10px 2px;
}

    #practice-options .subscribe-message {
        display:none;
        float:left;
        background-color:transparent;
        position:relative;
        width:20px;
    }
        #practice-options .subscribe-message .icon {
            height: 17px;
            width: 20px;
            background-color: transparent;
            background-image: url('/Content/Images/Account/lock.png');
            background-size: 18px;
            displaY: block;
            position: absolute;
            margin-top: -6px;
            padding:0px;
        }

#practice-explanation {
    float: right;
    width: 35%;
    background-color: #efefef;
    padding: 20px;
}

    #practice-explanation h3 {
        font-weight: bold;
    }

    #practice-explanation p {
        margin: 10px 0px 15px;
    }


#practice-options tr td {
    padding: 2px 4px;
}

#practice-options tr.section > td {
    padding-top: 25px;
}

#start-practice {
    margin-left: 5px;
}





#account-class-management-show-class {
    background-color: #fff;
    color: #000;
}


/* Reset Password Styles */

#js-content-wrapper-reset-account {
    float: left;
    clear: both;
    width: 100%;
}


/* Quesiton Review Styles */

#review-options tr td {
    padding: 4px 8px 4px 0px;
}

#review-messages .review-messages-content{
    border-top: 1px solid #000;
    margin-top: 10px;
    padding-top: 10px;
}

#review-messages .review-messages-content p {
    margin:20px 0px;
}

#review-messages .review-messages-content h3 {
    margin:20px 0px;
    font-weight:bold;
    color:#21465D;
}

#review-messages .review-messages-content ul {
    margin:20px 0px 20px 20px;
    list-style-type:disc;
    list-style-position:inside;
    color:#666;
}

    #review-messages .review-messages-content ul li {
        margin-bottom:5px;
    }

#review-results {
    margin-top: 20px;
    width: 100%;
}

    #review-results tr td {
        padding: 4px 20px 4px 0px;
        text-align: center;

        background: rgb(241,246,249); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(241,246,249,1) 0%, rgba(222,227,232,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,246,249,1)), color-stop(100%,rgba(222,227,232,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(241,246,249,1) 0%,rgba(222,227,232,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(241,246,249,1) 0%,rgba(222,227,232,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(241,246,249,1) 0%,rgba(222,227,232,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(241,246,249,1) 0%,rgba(222,227,232,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f6f9', endColorstr='#dee3e8',GradientType=0 ); /* IE6-9 */
    }

    #review-results thead tr td {
        font-weight: bold;
        /*border-bottom: 1px solid #000;*/

        background-color: #aaa;
        border-bottom: #000;
        background: rgb(238,238,238); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    }

    #review-results .my-info-question-data-row td {
        padding: 0px;
    }

    #review-results .my-info-question-data-row .my-info-question-data {
        display: none;
    }

        #review-results .my-info-question-data-row .my-info-question-data p {
            line-height: 22px;
        }

    #review-results .my-info-question-holder {
        text-align: left;
        padding: 20px;
        background-color: #efefef;
        border: 1px solid #ddd;
        border-bottom: none;
    }

        #review-results .my-info-question-holder .header {
            margin-bottom: 10px;
            font-size: 18px;
        }

        #review-results .my-info-question-holder .my-info-question-text {
            font-size: 16px;
            color: #000;
            margin-bottom: 15px;
        }

        #review-results .my-info-question-holder .my-info-explanation-text {
            margin-top: 15px;
        }

        #review-results .my-info-question-holder .my-info-question-answers li {
            padding-left: 30px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            list-style-type: decimal;
            list-style-position: inside;
        }

            #review-results .my-info-question-holder .my-info-question-answers li.correct {
                background-image: url('/Content/Images/Account/green-arrow.png');
                background-repeat: no-repeat;
                background-size: 18px;
                background-position: 2px -1px;
                font-weight: bold;
            }

    #review-results .my-info-question-history {
        padding: 20px;
        background-color: #efefef;
        border: 1px solid #ddd;
        border-top: none;
    }

        #review-results .my-info-question-history .my-info-question-history-header {
            text-align: left;
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 18px;
        }

        #review-results .my-info-question-history table {
            width: 872px;
            margin: 15px 0px 10px;
        }

            #review-results .my-info-question-history table thead td {
                font-weight: normal;
                padding:10px 0px;
            }

            #review-results .my-info-question-history table tbody td {
                padding: 10px 0px;
            }

/* Overlay Content */

#full-screen-container .load-questions {
    margin: 200px auto 0;
    font-size: 16px;
}

    #full-screen-container .load-questions table {
        margin: 0px auto;
    }

#full-screen-container .load-questions-explanation-wrapper {
    margin: 0px auto;
    width: 960px;
}

#full-screen-container .load-questions-explanation {
    padding: 10px 0px;
    float: left;
    width: 960px;
}

    #full-screen-container .load-questions-explanation h2 {
        margin: 20px;
    }

    #full-screen-container .load-questions-explanation h3 {
        margin: 20px;
        font-weight: bold;
    }


    #full-screen-container .load-questions-explanation p {
        margin: 20px 20px 20px 40px;
        width: 500px;
        line-height: 22px;
    }

    #full-screen-container .load-questions-explanation .exit-explanation {
        margin-left: 20px;
        background-color: #efefef;
        float: left;
    }

        #full-screen-container .load-questions-explanation .exit-explanation p {
            float: left;
            margin-left: 20px;
            width: 400px;
        }

    #full-screen-container .load-questions-explanation .exit-icon {
        background-image: url("/Content/Images/Account/spritesheet.png");
        width: 60px;
        background-position: 61px -9px;
        margin: 20px;
        padding: 41px 0px 5px 0px;
        text-align: center;
        border: solid 1px #999;
        float: right;
    }

    #full-screen-container .load-questions-explanation .start-study {
        margin: 20px;
        float: left;
        clear: both;
    }

    #full-screen-container .load-questions-explanation .exit-study {
        margin: 26px 0 0 0;
        float: left;
    }

/* Study Question Styles */

#study-questions-viewer-wrapper {
    width: 960px;
    margin: 0px auto;
}

#study-question-viewer-page {
    float: left;
    width: 960px;
    margin-top: 20px;
}

    #study-question-viewer-page h1 {
        background-color: #000;
        color: #fff;
        padding: 4px 0px;
        font-size: 18px;
        text-align: center;
        margin: 10px 0px;
    }

    #study-question-viewer-page h2 {
        background-color: #999;
        color: #000;
        padding: 4px 0px;
        font-size: 18px;
        text-align: center;
        margin: 10px 0px;
    }

    #study-question-viewer-page h3 {
        font-weight: bold;
    }

    #study-question-viewer-page a {
        color: blue;
        text-decoration: underline;
    }

.study-question-viewer-page .study-quesitons-content {
    padding: 0px 20px;
    clear: both;
    float: left;
    height: 420px;
    min-height: 420px;
    overflow-y: scroll;
    width: 920px;
}

#study-question-viewer-directions ul {
    margin: 20px 0px;
}


#calculator-explanation, #exit-explanation {
    margin: 25px 0px;
    clear: both;
    float: left;
}

#calculator-explanation {
    margin-bottom: 10px;
}

    #calculator-explanation .text, #exit-explanation .text {
        margin-top: 8px;
        width: 740px;
    }

#exit-explanation .icon {
    background-image: url("/Content/Images/Account/spritesheet.png");
    float: left;
    width: 33px;
    background-position: 52px -9px;
    height: 32px;
    padding: 5px;
    margin-right: 14px;
}

#calculator-explanation .icon {
    background-image: url("/Content/Images/Account/spritesheet.png");
    float: left;
    width: 33px;
    background-position: 100px -9px;
    height: 32px;
    padding: 5px;
    margin-right: 14px;
}


#study-question-viewer-question-mc .question-content {
    margin-top: 20px;
    font-size: 16px;
}

#study-question-viewer-question-mc .answer-options table {
    margin-top: 20px;
}

    #study-question-viewer-question-mc .answer-options table tr td {
        padding: 4px 10px 4px 0;
    }

        #study-question-viewer-question-mc .answer-options table tr td.result-spacer {
            width: 20px;
        }

            #study-question-viewer-question-mc .answer-options table tr td.result-spacer.correct {
                background-image: url('/Content/Images/Account/green-arrow.png');
                width: 20px;
                background-size: 18px;
                background-repeat: no-repeat;
                background-position: 0px 6px;
                padding-right: 0px;
            }

#study-question-viewer-question-mc .answer-explanation {
    margin-top: 20px;
}

    #study-question-viewer-question-mc .answer-explanation .answer-explanation-holder {
        margin-top: 20px;
    }

#study-question-viewer-results .results-summary {
    margin-top: 20px;
    margin-left: 20px;
}

    #study-question-viewer-results .results-summary tr td {
        padding-right: 20px;
        padding-bottom: 10px;
    }

#study-question-viewer-header {
    border-bottom: 1px solid #999;
    float: left;
    width: 100%;
    padding: 4px 0px;
}
    #study-question-viewer-header .logo {
        margin-left: 21px;
        height: 40px;
        margin-top: 6px;    
        -moz-opacity: 0.20;
        opacity: 0.20;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=20);

    }
    

    #study-question-viewer-header .study-question-viewer-exit {
        background-image: url("/Content/Images/Account/spritesheet.png");
        float: right;
        width: 47px;
        background-position: 56px -14px;
        height: 17px;
        padding-top: 32px;
        text-align: center;
        font-weight: bold;
        border-left: 1px solid #efefef;
        padding-left: 2px;
        cursor: pointer;
    }

#study-question-viewer-footer {
    border-top: 1px solid #999;
    float: left;
    width: 100%;
    padding: 10px 0px;
    margin-top: 10px;
}

.study-question-navigation .footer-flag-reminder {
    height: 10px;
    width: 95px;
    float: left;
    padding: 8px 3px;
    margin-left: 20px;
}

    .study-question-navigation .footer-flag-reminder .flag {
        background-image: url("/Content/Images/Account/spritesheet.png");
        height: 13px;
        width: 11px;
        background-position: -31px 29px;
        float: left;
    }

.study-question-navigation .footer-questions-quicklink-holder {
    float: left;
    width: 600px;
}

    .study-question-navigation .footer-questions-quicklink-holder > div {
        float: left;
        width: 20px;
        font-size: 11px;
        text-align: center;
        border: 1px solid #aaa;
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: pointer;
    }

        .study-question-navigation .footer-questions-quicklink-holder > div.answered {
            background-color: #efefef;
        }

    .study-question-navigation .footer-questions-quicklink-holder div .flag {
        background-image: url("/Content/Images/Account/spritesheet.png");
        background-position: -41px 31px;
        width: 11px;
        height: 18px;
        margin-left: 6px;
        cursor: pointer;
    }

        .study-question-navigation .footer-questions-quicklink-holder div .flag.set {
            background-position: -31px 31px;
        }

    .study-question-navigation .footer-questions-quicklink-holder div.incorrect {
        border: solid 1px red;
    }

    .study-question-navigation .footer-questions-quicklink-holder div.active {
        border: solid 1px #000;
    }

    .study-question-navigation .footer-questions-quicklink-holder div.directions,
    .study-question-navigation .footer-questions-quicklink-holder div.results {
        width: 65px;
        text-align: center;
        padding: 9px 1px;
        cursor: pointer;
    }

.study-question-navigation .footer-nav {
    float: right;
    width: 160px;
    margin-right: 20px;
}

    .study-question-navigation .footer-nav .prev {
        float: left;
        text-align: center;
        border: 1px solid #999;
        width: 76px;
        padding: 8px 0px;
        cursor: pointer;
    }

        .study-question-navigation .footer-nav .prev .icon {
            background-image: url("/Content/Images/Account/spritesheet.png");
            height: 15px;
            width: 10px;
            background-position: -330px 35px;
            float: left;
        }

    .study-question-navigation .footer-nav .next {
        float: right;
        text-align: center;
        border: 1px solid #999;
        width: 76px;
        padding: 8px 0px;
        cursor: pointer;
    }

        .study-question-navigation .footer-nav .next .icon {
            background-image: url("/Content/Images/Account/spritesheet.png");
            height: 15px;
            width: 10px;
            background-position: -342px 35px;
            float: right;
        }


#study-question-viewer-exit-uncompleted p {
    font-size: 27px;
    width: 600px;
    margin: 60px auto 35px;
}

#study-question-viewer-exit-uncompleted button {
    float: left;
    margin: 20px;
}



