/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* END RESET */


/* GLOBAL CLASSES */

.hidden {display:none;}
.bold {font-weight:bold;}
.clear{clear:both;}
.shadow {
    -moz-box-shadow: 5px 5px 16px #bbb;
    -webkit-box-shadow: 5px 5px 16px #bbb;
    box-shadow: 5px 5px 16px #bbb;
}

.shadow-centered {
    -moz-box-shadow: 0px 5px 20px #bbb;
    -webkit-box-shadow: 0px 5px 20px #bbb;
    box-shadow: 0px 5px 20px #bbb;
}

h1{}
h2{font-size:24px; margin:20px;}

.cpa-blue{color:#38B2CE;}


/* END GLOBAL CLASSES */

/* GLOBAL NON PAGE SPECIFIC STYLES */
html {
    background-color: #efefef;
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    float: left;
    height: 100%;
    width: 100%;
}


#full-screen-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#full-screen-container.full {
    background-color:#fff;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:1001;
}

#full-screen-container.partial {
    background-color:#fff;
    position:fixed;
    width:550px;
    padding:20px;
    top: 50%;
    left: 50%;
    margin-left:-295px;
    margin-top:-300px;
    z-index:1001;
}

#full-screen-container .content{margin:20px;}

#wrapper {
    width: 960px;
    margin: 0px auto;
}

#body {
    clear: both;
    float: left;
    width: 960px;
    background-repeat: repeat;
    min-height: 500px;
}

#ServerErrorHandler {
    width: 400px;
    margin: 0px auto;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    padding: 60px 40px 20px;
    background-color: #FFD484;
    border: solid 1px #000;
    top: -190px;
    z-index: 10;
}

    #ServerErrorHandler h2 {
        font-size: 18px !important;
        margin-bottom: 10px;
    }

#header {
    width: 960px;
    float: left;
    margin-bottom:20px;
    background-color:#fff;

    -moz-box-shadow: 0 0 35px 0px #ccc;
    -webkit-box-shadow: 0 0 35px 0px #ccc;
    box-shadow: 0 0 35px 0px #ccc;

    
}

#header-logo {
    cursor: pointer;
    margin: 20px 0 10px 20px;
    float: left;
    color:#000;

    font: 50px Tahoma, Helvetica, Arial, Sans-Serif;
    text-align: center;
    color: #222;
    text-shadow: 0px 2px 3px #555;

}

#header-navigation {
    list-style-type: none;
    border-top: solid 1px #fff;
    float: right;
    padding-left: 0px;
    margin-top: 15px;
}

    #header-navigation li {
        float: left;
        margin-top: 10px;
        margin-right: 20px;
        font-size: 30px;
        padding:4px 8px;
    }

        #header-navigation li a {
            color:#666;
            text-decoration:none;
        }

            #header-navigation li a:hover {
                color: #38B2CE;
            }

        #header-navigation li.current {
            background-color:#fff;   
        }

            #header-navigation li.current a {
                color:#666 !important;
            }


        #header-navigation li:hover {
            cursor: pointer;
        }

        #header-navigation li.last {
            margin-right: 0px;
        }

#header-login-container {
    float: right;
    border-top: solid 1px #fff;
    margin-top: 0px;
    font-size: 12px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#invalid-account-message {
    position: absolute;
    margin-left: -130px;
    margin-top: 12px;
    height: 30px;
    width: 73px;
    padding: 10px 15px 15px;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    display:none;
}

    #header-login-container table {
        margin-top: 5px;
    }

        #header-login-container table tr td {
            vertical-align: top;
            padding-right:10px;
        }

    #header-login-container input {
        width: 120px;
        color: #999;
        padding:2px 0 2px 4px;
    }

#header-logout-container {
    float: right;
    margin-top: 15px;
    font-size: 14px;
    margin-right: 20px;
    display: none;
    cursor: pointer;
}


footer {
    clear: both;
    color: #000;
    text-align: center;
    padding: 20px 0px 50px;
    margin: 0px auto;
    width: 800px;
    margin: 0px auto;
}

#footer-content-holder {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #999;
    padding-top: 20px;
}

#footer-nav {
    width: 520px;
    margin: 10px auto;
    list-style-type: none;
}

    #footer-nav li {
        float: left;
        margin-right: 20px;
        font-size: 17px;
    }

        #footer-nav li:hover {
            color: #fff;
            cursor: pointer;
        }

#footer-row-1 {
    clear: both;
    margin-top: 10px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #999;
    padding: 10px 0px 25px;
}

#footer-row-2 {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 20px;
}


.js-content-wrapper .content{
    margin:20px;
}




/***  CSS Arrows  ***/

.arrow_box {
	position: relative;
	background: #38B2CE;
	border: 4px solid #c2e1f5;
    color:#fff;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(56, 178, 206, 0);
	border-left-color: #38B2CE;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 16px;
	top: 50%;
	margin-top: -16px;
}

/* END GLOBAL NON PAGE SPECIFIC STYLES */
