/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* END RESET */


/* GLOBAL CLASSES */

.hidden {
    display: none;
}

.bold, strong {
    font-weight: bold;
}

.clear {
    clear: both;
}

.shadow {
    -moz-box-shadow: 5px 5px 16px #bbb;
    -webkit-box-shadow: 5px 5px 16px #bbb;
    box-shadow: 5px 5px 16px #bbb;
}

.shadow-centered {
    -moz-box-shadow: 0px 5px 20px #bbb;
    -webkit-box-shadow: 0px 5px 20px #bbb;
    box-shadow: 0px 5px 20px #bbb;
}

h1 {
}

h2 {
    font-size: 24px;
    margin: 20px;
}

.cpa-blue, .link, a {
    color: #38B2CE;
    text-decoration: none;
}

.cpa-red{
    color:#8D0000;
}

.link, a {
    cursor: pointer;
}

.tooltip{
    vertical-align: super;
    font-size: 10px;
    padding: 0px 3px 1px;
    background-color: #666;
    color: #FFF;
    border: 1px solid #FFF;
    cursor:pointer;
}




/* END GLOBAL CLASSES */

/* GLOBAL NON PAGE SPECIFIC STYLES */
html {
    background-color: #fff;
    margin: 0;
    padding: 0;
    background-image: url('/Content/Images/Textures/grey_wash_wall.png');
    overflow-y: scroll;
}

body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}



    /* Adds a top shadow... kind of nice?*/
    body:before {
        content: "";
        position: fixed;
        top: -10px;
        left: 0;
        width: 100%;
        height: 10px;
        -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
        -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
        box-shadow: 0px 0px 10px rgba(0,0,0,.8);
        z-index: 100;
    }


#full-screen-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#full-screen-container.full {
    background-color: #fff;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

#full-screen-container.small {
    background-color: #fff;
    position: fixed;
    width: 550px;
    padding: 20px;
    left: 50%;
    margin-left: -295px;
    margin-top: 50px;
    z-index: 1001;
    font-size:16px;
}

#full-screen-container.medium {
    background-color: #fff;
    position: fixed;
    width: 800px;
    padding: 20px;
    left: 50%;
    margin-left: -400px;
    margin-top: 50px;
    z-index: 1001;
    font-size:16px;
}

#full-screen-container .content {
    margin: 20px;
}

#wrapper {
    width: 960px;
    margin: 0px auto;
}

#header-wrapper {
    background-color:#21465D;
    width:100%;
}


#footer-wrapper {
    background-color: #000;
    clear: both;
    background-image: url('/Content/Images/Textures/grey_wash_wall.png');
    padding-bottom:50px;
}

#footer-wrapper-shadow {

    width: 100%;
    height: 10px;
    z-index: 10;
    position: absolute;

    -webkit-box-shadow: 0px -5px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px -5px 10px rgba(0, 0, 0, .3);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, .3);
}




#body {
    clear: both;
    float: left;
    width: 960px;
    background-repeat: repeat;
}

#ServerErrorHandler {
    width: 400px;
    margin: 0px auto;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    padding: 60px 40px 20px;
    background-color: #FFE26C;
    border: solid 1px #000;
    top: -190px;
    z-index: 10;
}

    #ServerErrorHandler h2 {
        font-size: 16px !important;
        margin-bottom: 10px;
        margin-left: 0px;
        font-weight: bold;
    }

#header {
    width: 960px;
    height:128px;
    margin-bottom: 20px;
    margin:0px auto;

    position:relative;
}

#header-logo {
    cursor: pointer;
    margin: 35px 0 10px 0px;
    float:left;
}


.header-navigation {
    position: absolute;
    right: 0px;
    bottom: -1px;
}

    .header-navigation li {
        float: left;
        margin-top: 10px;
        margin-right: 20px;
        font-size: 26px;
        padding: 4px 16px;
    }

        .header-navigation li a {
            color: #fff;
            text-decoration: none;
        }
         
            .header-navigation li a:hover {
                color:#efefef;
            }

        .header-navigation li.current {
            background-color: #fff;
            border: 1px solid #efefef;
            border-bottom: none;
            border-radius: 5px 5px 0px 0px;
            -moz-border-radius: 5px 5px 0px 0px;
            -webkit-border-radius: 5px 5px 0px 0px;

        }

            .header-navigation li.current a {
                color: #222 !important;
            }


        .header-navigation li:hover {
            cursor: pointer;
        }

        .header-navigation li.last {
            margin-right: 0px;
        }

#header-login-container {
    float: right;
    margin-top: 0px;
    font-size: 12px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#invalid-account-message {
    position: absolute;
    margin-left: -130px;
    margin-top: 12px;
    height: 30px;
    width: 73px;
    padding: 10px 15px 15px;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    display: none;
}

#header-login-container table {
    margin-top: 15px;
}

    #header-login-container table tr td {
        vertical-align: top;
        padding-right: 10px;
    }

#header-login-container input {
    width: 120px;
    color: #999;
    padding: 2px 0 2px 4px;
}

#header-logout-container {
    float: right;
    margin-top: 15px;
    font-size: 14px;
    margin-right: 20px;
    display: none;
    cursor: pointer;
    color:#fff;
    height:69px;
}


footer {
    clear: both;
    color: #000;
    text-align: center;
    padding: 20px 0px 50px;
    margin: 0px auto;
    width: 800px;
    margin: 0px auto;
    color: #fff;
}

#footer-content-holder {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #999;
    padding-top: 20px;
}

#footer-nav {
    width: 520px;
    margin: 10px auto;
    list-style-type: none;
}

    #footer-nav li {
        float: left;
        margin-right: 20px;
        font-size: 17px;
    }

        #footer-nav li:hover {
            color: #fff;
            cursor: pointer;
        }

        #footer-nav li a {
            color:#fff;
        }

#footer-row-1 {
    clear: both;
    margin-top: 10px;
    float: left;
    width: 100%;
    padding: 10px 0px 25px;
}

#footer-row-2 {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 20px;
}


.js-content-wrapper .content {
    margin: 20px;
}




/***  CSS Arrows  ***/

.arrow_box {
    position: relative;
    background: #38B2CE;
    border: 4px solid #c2e1f5;
    color: #fff;
}

    .arrow_box:after, .arrow_box:before {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box:after {
        border-color: rgba(56, 178, 206, 0);
        border-left-color: #38B2CE;
        border-width: 10px;
        top: 50%;
        margin-top: -10px;
    }

    .arrow_box:before {
        border-color: rgba(194, 225, 245, 0);
        border-left-color: #c2e1f5;
        border-width: 16px;
        top: 50%;
        margin-top: -16px;
    }

/* END GLOBAL NON PAGE SPECIFIC STYLES */



/* POPUP Styles */


#full-screen-container .js-overlay-close {
    background-color: #000;
    color: #fff;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 4px 10px 9px 10px;
    font-weight: bold;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #fff;
}


.js-overlay-relogin-content table tr td{
    padding-bottom:10px;
}
.js-overlay-relogin-content table tr td:first-child{
    padding-right:5px;
}