


/* SPLASH PAGE */

.js-content-wrapper { /* this should be in shared*/
    background-color: #fff;
    float: left;
    clear: both;
    width: 100%;
    border: solid 1px #eee;
    min-height: 400px;
}

    .js-content-wrapper .content {
        margin: 20px;
    }


/* Home */

#home-forgot-login {
    cursor: pointer;
}

#reset-password-holder {
    color: #000;
    padding: 20px;
    min-height: 450px;
}

    #reset-password-holder table tr td:first-child {
        padding-right: 10px;
    }

    #reset-password-holder table tr td {
        padding-bottom: 20px;
    }



#home-row-1 p {
    float: left;
    width: 570px;
    margin: 20px;
    line-height: 30px;
    font-size: 22px;
    margin-top: 25px;
}

#home-row-2 {
    margin-top: 20px;
    background-color: #888888;
    float: left;
    width: 920px;
    margin: 20px;
}

    #home-row-2  h2{
        color:#fff;
        font-weight:bold;
    }


    #home-row-2 ul {
        float: left;
        margin: 55px 20px 20px;
        width: 386px;
    }

        #home-row-2 ul li.active {
            cursor: auto;
            background-position: 336px -30px;

            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        #home-row-2 ul li {
            font-size: 24px;
            margin-bottom: 55px;
            border: 1px solid #EFEFEF;
            padding: 10px;
            color: #000;
            cursor: pointer;
            background: url("/Content/Images/Home/arrows2.png") no-repeat 336px 7px #FFF;
            font-weight: bold;

            -moz-box-shadow: 5px 5px 16px #333;
            -webkit-box-shadow: 5px 5px 16px #333;
            box-shadow: 5px 5px 16px #333;
        }

    #home-row-2 .image-viewer{
        background-image:url(/Content/Images/Home/ss1.png);
        height: 320px; 
        width:450px;
        float: right; 
        margin: 20px;
        position:relative;
        border:2px solid #666;
    }

    #home-row-2 .image-viewer .caption-overlay{
        position:absolute;
        bottom:0px;
        left:0px;
        width:450px;
        height:85px;
        background-color:#000;
        -moz-opacity: 0.75;
        opacity: 0.75;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
    }

    #home-row-2 .image-viewer .caption-text{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 430px;
        height: 60px;
        color: #FFF;
        padding: 10px;
        line-height:20px;
    }

#home-row-3 {
    margin-bottom: 40px;
    float: left;
}

    #home-row-3 p {
        width: 580px;
        float: left;
        margin-left: 20px;
        font-size: 17px;
        line-height: 20px;
    }

        #home-row-3 p .bold {
            font-size: 20px;
        }

    #home-row-3 .register {
        width: 300px;
        float: left;
        background-color: #888888;
        padding: 20px;
    }

        #home-row-3 .register table tr td {
            padding-bottom: 10px;
        }

            #home-row-3 .register table tr td:first-child {
                padding-right: 10px;
            }

        #home-row-3 .register input {
            width: 200px;
            padding: 2px 6px;
            font-size: 16px;
        }

#home-product-container {
    height: 300px;
    width: 300px;
    border: 4px solid #efefef;
    margin: 40px auto;
    cursor: pointer;
    margin: 20px;
    float: left;
}


    #home-product-container .product, #home-product-container .product-price {
        font-size: 18px;
        color: #fff;
        text-align: center;
        /*text-shadow: 1px 1px #fff;*/
        margin-top: 15px;
    }

    #home-product-container .product-price {
        font-size: 40px;
        color: #fff;
        margin-top: 20px;
        /*text-shadow: 1px 1px #fff;*/
    }



#home-product-container-top-left {
    width: 148px;
    height: 148px;
    background-color: #FF9528;
    float: left;
    border-right: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    background: #5e9a9e;
}

    #home-product-container-top-left:hover {
        border-right: 2px solid #dfdfdf;
        border-bottom: 2px solid #dfdfdf;
    }

#home-product-container-top-right {
    width: 148px;
    height: 148px;
    float: right;
    border-left: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    background: #706b62;
}

    #home-product-container-top-right:hover {
        border-left: 2px solid #dfdfdf;
        border-bottom: 2px solid #dfdfdf;
    }



#home-product-container-bottom-left {
    width: 148px;
    height: 148px;
    float: left;
    border-right: 2px solid #efefef;
    border-top: 2px solid #efefef;
    background: #d95a1a;
}

    #home-product-container-bottom-left:hover {
        border-right: 2px solid #dfdfdf;
        border-top: 2px solid #dfdfdf;
    }

#home-product-container-bottom-right {
    width: 148px;
    height: 148px;
    float: right;
    border-left: 2px solid #efefef;
    border-top: 2px solid #efefef;
    background: #9e7c92;
}

    #home-product-container-bottom-right:hover {
        border-left: 2px solid #dfdfdf;
        border-top: 2px solid #dfdfdf;
    }





/*** Product Tab ***/

/* TODO: Get some overall styling going for stuff like this */
#js-content-wrapper-product-pricing > p {
    margin: 20px 20px 10px;
    line-height: 22px;
    font-size: 16px;
}

#pricing-holder {
    float: left;
    width: 920px;
    margin: 10px 20px 20px;
}

    #pricing-holder div {
        float: left;
    }

    #pricing-holder .pricing-row {
        clear: both;
        height: 102px;
        width: 100%;
    }

    #pricing-holder .row1 {
        background: #5e9a9e;
    }

    #pricing-holder .row2 {
        background: #706b62;
    }

    #pricing-holder .row3 {
        background: #d95a1a;
    }

    #pricing-holder .row4 {
        background: #9e7c92;
    }

    #pricing-holder .col3 .pricing-row {
        width: 115px;
    }


    #pricing-holder .pricing-row .pricing-price {
        width: 150px;
        text-align: center;
        font-size: 51px;
        line-height: 90px;
        color: #fff;
        height: 100px;
    }

    #pricing-holder .pricing-row .pricing-product-name {
        text-align: left;
        font-size: 26px;
        line-height: 90px;
        color: #fff;
        height: 100px;
        padding-right: 30px;
        width: 415px;
    }

    #pricing-holder .col2 {
        background-color: #444;
        color: #fff;
        height: 408px;
        width: 210px;
    }

        #pricing-holder .col2 ol li {
            margin: 20px 10px;
        }

        #pricing-holder .col2 ul {
            margin: 20px;
        }

            #pricing-holder .col2 ul li {
                margin-bottom: 20px;
            }

    #pricing-holder .col3 {
        width: 56px;
        text-align: center;
    }


        #pricing-holder .col3 .squaredTwo {
            margin: 38px 45px;
        }

#pricing-sign-up {
    float: right;
    margin-right: 20px;
    margin-bottom: 50px;
}

#pricing-total {
    float: right;
    margin-right: 30px;
    font-size: 40px;
}

#pricing-sign-up-more-info {
    clear: both;
    font-size: 16px;
    line-height: 22px;
    float: left;
}

    #pricing-sign-up-more-info table {
        margin: 20px;
    }

        #pricing-sign-up-more-info table td {
            padding: 10px 10px 30px;
            border: 1px solid #efefef;
        }

            #pricing-sign-up-more-info table td:first-child {
                font-weight: bold;
                padding-right: 20px;
                width: 230px;
                background-color: #efefef;
                color: #333;
            }



/*** Contact Us Page Styles ***/


#js-content-wrapper-contact .content table {
    margin-top: 30px;
}

    #js-content-wrapper-contact .content table tr td {
        padding-bottom: 30px;
    }

        #js-content-wrapper-contact .content table tr td textarea {
            width: 400px;
            height: 150px;
        }


        #js-content-wrapper-contact .content table tr td:first-child {
            padding-right: 10px;
            vertical-align: middle;
        }

/*** About Us Page Styles ***/

#js-content-wrapper-contact .content {
    margin-top: 20px;
}

#aboutus-holder p {
    font-size: 16px;
    line-height: 22px;
}


/*** FAQs ***/

#faq-holder {
    margin-left: 20px;
    margin-bottom: 50px;
    float: left;
    clear: both;
    width: 100%;
}

    #faq-holder .col1 {
        float: left;
        width: 300px;
        margin-top: 10px;
    }

        #faq-holder .col1 h2 {
            font-size: 15px;
            font-weight: bold;
            margin: 0px;
            margin-bottom: 5px;
        }

        #faq-holder .col1 ul li.section {
            margin-bottom: 20px;
        }

            #faq-holder .col1 ul li.section ul {
                padding-top: 10px;
            }

                #faq-holder .col1 ul li.section ul li {
                    margin-bottom: 10px;
                    margin-left: 5px;
                    padding-left: 4px;
                    border-left: 2px solid #fff;
                }

                    #faq-holder .col1 ul li.section ul li:hover {
                        /*border-left: 2px solid #009999;*/
                        border-left: 2px solid #8D0000;
                        padding-left: 4px;
                    }

                    #faq-holder .col1 ul li.section ul li a {
                        color: #333;
                        text-decoration: none;
                    }

                        #faq-holder .col1 ul li.section ul li a.active {
                            /*text-shadow: 0px 1px 0px #000;*/
                            color: #8D0000;
                            font-weight: bold;
                        }




    #faq-holder .col2 {
        float: left;
        margin-left: 20px;
        width: 570px;
        margin-top: -15px;
    }

        #faq-holder .col2 .faqs-content {
            font-size: 16px;
            line-height: 22px;
        }

        #faq-holder .col2 h2 {
            font-size: 25px;
            padding-left: 0px;
            margin-left: 0px;
            padding: 15px;
            background-color: #8D0000;
            color: #fff;
            border-radius: 3px 3px 3px 3px;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
        }

        #faq-holder .col2 p {
            margin: 20px 0px;
        }

        #faq-holder .col2 ul {
            list-style-type: disc;
            margin: 0px 0px 25px 40px;
        }

            #faq-holder .col2 ul li {
                margin-bottom: 10px;
            }

        #faq-holder .col2 table tr td:first-child {
            padding-right: 10px;
        }




/*** Registration Popup ***/

#js-overlay-register-content .title {
    font-size: 17px;
    font-weight: bold;
}

#js-overlay-register-content input {
    visibility: visible;
}

#js-overlay-register-content tr td {
    padding: 4px 10px;
}
