


/* SPLASH PAGE */

.js-content-wrapper { /* this should be in shared*/
    background-color: #fff;
    background-color:#e7ebf2;
    float: left;
    clear: both;
    width: 100%;
    min-height: 400px;
    /*margin-bottom:50px;*/
    padding-bottom: 50px;
    /*border-left:1px solid #efefef;
    border-right:1px solid #efefef;*/
}

    .js-content-wrapper .content {
        margin: 20px;
    }


/* Home */

#home-forgot-login {
    cursor: pointer;
}

#reset-password-holder table tr td:first-child {
    padding-right: 10px;
}

#reset-password-holder table tr td {
    padding-bottom: 20px;
}

#home-row-1 h1 {
    float: right;
    text-align: left;
    width: 590px;
    font-weight: bold;
    font-size: 22px;
    margin-top: 23px;
}


#home-row-1 ul {
    float: left;
    width: 570px;
    margin-top: 15px;
    margin-left: 20px;
}

    #home-row-1 ul li {
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 22px;
        list-style-type: circle;
    }



#home-row-1 {
    margin: 20px 0px 20px 20px;
    float: left;
    clear: both;
}

#home-row-2 {
    float: left;
    width: 920px;
    margin: 40px 0px 20px 20px;
}

    #home-row-2 h2 {
        color: #fff;
        font-weight: bold;
    }



#home-row-3 {
    margin-bottom: 40px;
    float: left;
}

    #home-row-3 p {
        width: 580px;
        float: left;
        margin-left: 20px;
        font-size: 17px;
        line-height: 20px;
    }

        #home-row-3 p .bold {
            font-size: 20px;
        }

    #home-row-3 .register {
        width: 300px;
        float: left;
        background-color: #888888;
        padding: 20px;
    }

        #home-row-3 .register table tr td {
            padding-bottom: 10px;
        }

            #home-row-3 .register table tr td:first-child {
                padding-right: 10px;
            }

        #home-row-3 .register input {
            width: 200px;
            padding: 2px 6px;
            font-size: 16px;
        }

#home-product-container {
    height: 300px;
    width: 300px;
    border: 4px solid #efefef;
    cursor: pointer;
    margin: 35px 20px 20px 0px;
    float: left;
}


    #home-product-container .product, #home-product-container .product-price {
        font-size: 18px;
        color: #fff;
        text-align: center;
        /*text-shadow: 1px 1px #fff;*/
        margin-top: 15px;
    }

    #home-product-container .product-price {
        font-size: 40px;
        color: #fff;
        margin-top: 20px;
        /*text-shadow: 1px 1px #fff;*/
    }



#home-product-container-top-left {
    width: 148px;
    height: 148px;
    background-color: #FF9528;
    float: left;
    border-right: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    background: #5e9a9e;
}

    #home-product-container-top-left:hover {
        border-right: 2px solid #dfdfdf;
        border-bottom: 2px solid #dfdfdf;
    }

#home-product-container-top-right {
    width: 148px;
    height: 148px;
    float: right;
    border-left: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    background: #706b62;
}

    #home-product-container-top-right:hover {
        border-left: 2px solid #dfdfdf;
        border-bottom: 2px solid #dfdfdf;
    }



#home-product-container-bottom-left {
    width: 148px;
    height: 148px;
    float: left;
    border-right: 2px solid #efefef;
    border-top: 2px solid #efefef;
    background: #d95a1a;
}

    #home-product-container-bottom-left:hover {
        border-right: 2px solid #dfdfdf;
        border-top: 2px solid #dfdfdf;
    }

#home-product-container-bottom-right {
    width: 148px;
    height: 148px;
    float: right;
    border-left: 2px solid #efefef;
    border-top: 2px solid #efefef;
    background: #9e7c92;
}

    #home-product-container-bottom-right:hover {
        border-left: 2px solid #dfdfdf;
        border-top: 2px solid #dfdfdf;
    }





/*** Product Tab ***/

/* TODO: Get some overall styling going for stuff like this */
#js-content-wrapper-product-pricing > p {
    margin: 20px 20px 10px;
    line-height: 22px;
    font-size: 16px;
}

#pricing-holder {
    float: left;
    width: 920px;
    margin: 10px 20px 20px;
}

    #pricing-holder div {
        float: left;
    }

    #pricing-holder .pricing-row {
        clear: both;
        height: 102px;
        width: 100%;
    }

    #pricing-holder .row1 {
        background: #5e9a9e;
    }

    #pricing-holder .row2 {
        background: #706b62;
    }

    #pricing-holder .row3 {
        background: #d95a1a;
    }

    #pricing-holder .row4 {
        background: #9e7c92;
    }

    #pricing-holder .col3 .pricing-row {
        width: 115px;
    }


    #pricing-holder .pricing-row .pricing-price {
        width: 150px;
        text-align: center;
        font-size: 51px;
        line-height: 90px;
        color: #fff;
        height: 100px;
    }

    #pricing-holder .pricing-row .pricing-product-name {
        text-align: left;
        font-size: 26px;
        line-height: 90px;
        color: #fff;
        height: 100px;
        padding-right: 30px;
        width: 415px;
    }

    #pricing-holder .col2 {
        background-color: #444;
        color: #fff;
        height: 408px;
        width: 210px;
    }

        #pricing-holder .col2 ol li {
            margin: 20px 10px;
        }

        #pricing-holder .col2 ul {
            margin: 20px;
        }

            #pricing-holder .col2 ul li {
                margin-bottom: 20px;
            }

    #pricing-holder .col3 {
        width: 56px;
        text-align: center;
    }


        #pricing-holder .col3 .squaredTwo {
            margin: 38px 45px;
        }

#pricing-sign-up {
    float: right;
    margin-right: 20px;
    margin-bottom: 50px;
}

#pricing-total {
    float: right;
    margin-right: 30px;
    font-size: 40px;
}

#pricing-sign-up-more-info {
    clear: both;
    font-size: 16px;
    line-height: 22px;
    float: left;
}

    #pricing-sign-up-more-info table {
        margin: 20px;
    }

        #pricing-sign-up-more-info table td {
            padding: 10px 10px 30px;
            border: 1px solid #efefef;
        }

            #pricing-sign-up-more-info table td:first-child {
                font-weight: bold;
                padding-right: 20px;
                width: 230px;
                background-color: #efefef;
                color: #333;
            }



/*** Contact Us Page Styles ***/


#js-content-wrapper-contact .content table {
    margin-top: 30px;
}

    #js-content-wrapper-contact .content table tr td {
        padding-bottom: 30px;
    }

        #js-content-wrapper-contact .content table tr td textarea {
            width: 400px;
            height: 150px;
        }


        #js-content-wrapper-contact .content table tr td:first-child {
            padding-right: 10px;
            vertical-align: middle;
        }

/*** About Us Page Styles ***/

#js-content-wrapper-contact .content {
    margin-top: 20px;
}

#aboutus-holder p {
    font-size: 16px;
    line-height: 22px;
}


/*** FAQs ***/

.faq-holder {
    margin-left: 20px;
    margin-bottom: 50px;
    float: left;
    clear: both;
    width: 100%;
}

    .faq-holder .col1 {
        float: left;
        width: 250px;
        margin-top: 10px;
        margin-right: 40px;
    }

        .faq-holder .col1 h2 {
            font-size: 15px;
            font-weight: bold;
            margin: 0px;
            margin-bottom: 5px;
        }

        .faq-holder .col1 ul li.section {
            margin-bottom: 20px;
        }

            .faq-holder .col1 ul li.section ul {
                padding-top: 10px;
            }

                .faq-holder .col1 ul li.section ul li {
                    margin-bottom: 10px;
                    margin-left: 5px;
                    padding-left: 4px;
                    border-left: 2px solid #fff;
                }

                    .faq-holder .col1 ul li.section ul li:hover {
                        /*border-left: 2px solid #009999;*/
                        border-left: 2px solid #8D0000;
                        padding-left: 4px;
                    }

                    .faq-holder .col1 ul li.section ul li a {
                        color: #333;
                        text-decoration: none;
                    }

                        .faq-holder .col1 ul li.section ul li a.active {
                            /*text-shadow: 0px 1px 0px #000;*/
                            color: #8D0000;
                            font-weight: bold;
                        }




    .faq-holder .col2 {
        float: left;
        width: 655px;
        margin-top: -15px;
    }

        .faq-holder .col2 .faqs-content, .faq-holder .col2 .accountfaqs-content {
            font-size: 16px;
            line-height: 22px;
        }

        .faq-holder .col2 h2 {
            font-size: 25px;
            padding-left: 0px;
            margin-left: 0px;
            padding: 15px;
            background-color: #8D0000;
            color: #fff;
            border-radius: 3px 3px 3px 3px;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
        }

        .faq-holder .col2 p {
            margin: 20px 20px 20px 0;
        }

        .faq-holder .col2 ul {
            list-style-type: disc;
            margin: 0px 0px 25px 40px;
        }

            .faq-holder .col2 ul li {
                margin-bottom: 10px;
            }

        .faq-holder .col2 table tr td:first-child {
            padding-right: 10px;
        }




/*** Registration Popup ***/

#js-overlay-register-content .title {
    font-size: 17px;
    font-weight: bold;
}

#js-overlay-register-content input[type=text], #js-overlay-register-content input[type=password] {
    visibility: visible;
    padding: 4px 6px;
    width: 200px;
}

#js-overlay-register-content table {
    width: 100%;
}

#js-overlay-register-content tr td, #set-password-holder tr td {
    padding: 5px 10px 5px 0px;
}




/* Fancy Input Styles */

.squaredTwo {
    width: 28px;
    height: 28px;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    margin: 20px auto;
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    position: relative;
}

    .squaredTwo label {
        cursor: pointer;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 4px;
        top: 4px;
        -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
        -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
        background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
        background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
        background: -o-linear-gradient(top, #222 0%, #45484d 100%);
        background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
        background: linear-gradient(top, #222 0%, #45484d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
    }

        .squaredTwo label:after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
            content: '';
            position: absolute;
            width: 9px;
            height: 5px;
            background: transparent;
            top: 4px;
            left: 4px;
            border: 3px solid #fcfff4;
            border-top: none;
            border-right: none;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .squaredTwo label:hover::after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
            opacity: 0.3;
        }

    .squaredTwo input[type=checkbox]:checked + label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }



.register-row {
    float: left;
    margin: 40px 0px 10px 20px;
    padding: 10px 0px 30px;
    background-color: #21465D;
    color: #fff;
    width: 920px;
    text-align: center;
}

    .register-row input {
        padding:4px 10px;
        width:250px;
        margin-right:10px;
        font-size:22px;

    }

    .register-row input.watermark{
        color:#999;
    }


    .register-row .btn-orange {
        margin: 0px auto;
        color: #000;
        width: 200px;
        cursor: pointer;
    }



/*
	Slideshow
*/
#slides {
    position: relative;
}

    #slides .slide h2 {
        font-size: 30px;
        text-align: center;
        color: #000;
    }

    #slides .slide ul {
        float: left;
        width: 410px;
        margin-left: 60px;
        margin-top: 30px;
        line-height: 30px;
    }

        #slides .slide ul li {
            font-size: 22px;
            margin-bottom: 40px;
            list-style-type: disc;
        }

#slide1 ul {
    float: left;
    width: 498px;
    margin-left: 40px;
    margin-top: 30px;
    line-height: 30px;
}

    #slide1 ul li {
        margin-bottom: 30px !important;
    }

#slide2 ul {
    float: left;
    width: 498px;
    margin-left: 40px;
    margin-top: 30px;
    line-height: 30px;
}

    #slide2 ul li {
    }

#slide3 ul {
    width: 274px !important;
}

    #slide3 ul li {
    }

#slides .slide .graphic {
    background: url('/Content/Images/Home/Spritesheet.gif') no-repeat 0px 0px;
    float: left;
    clear: both;
}

#slide-graphic-1 {
    background-image: url('/Content/Images/Home/screenshot2.png') !important;
    height: 234px;
    width: 400px;
    margin-top: 25px;
}


#slide-graphic-2 {
    height: 240px;
    width: 341px;
    background-position: 0px -440px !important;
    margin-top: 40px;
}

#slide-graphic-3 {
    height: 317px;
    width: 546px;
    background-position: 0px -118px !important;
}


.slides_container {
    width: 920px;
    position: relative;
    display: none;
}


    .slides_container .slide {
        width: 880px;
        height: 400px;
        position: absolute;
        top: 0px;
        left: 990px;
        z-index: 5;
        display: none;
        cursor: pointer;
        padding: 0px 20px;
        border:1px solid #e7ebf2;
        /*border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
        box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);*/
        color: #000;
        background-color: #e7ebf2;
        /*background: rgb(112,150,174);
background: -moz-linear-gradient(-45deg,  rgba(112,150,174,1) 0%, rgba(33,69,93,1) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(112,150,174,1)), color-stop(100%,rgba(33,69,93,1)));
background: -webkit-linear-gradient(-45deg,  rgba(112,150,174,1) 0%,rgba(33,69,93,1) 100%);
background: -o-linear-gradient(-45deg,  rgba(112,150,174,1) 0%,rgba(33,69,93,1) 100%);
background: -ms-linear-gradient(-45deg,  rgba(112,150,174,1) 0%,rgba(33,69,93,1) 100%);
background: linear-gradient(135deg,  rgba(112,150,174,1) 0%,rgba(33,69,93,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7096ae', endColorstr='#21455d',GradientType=1 );*/
    }

        .slides_container .slide.current {
            display: block;
            z-index: 5;
        }


/*
	Next/prev buttons
*/

#slides .next,
#slides .prev {
    position: absolute;
    top: 47%;
    display: block;
    z-index: 10;
    width: 17px;
    height: 29px;
    background-image: url(/Content/Images/Home/Slider/slides-js-nav.png);
    background-repeat: no-repeat;
    text-indent: -999em;
    cursor: pointer;
}

#slides .next {
    right: -60px;
    background-position: 100% 0;
}

    #slides .next:hover {
        background-position: 100% 100%;
    }

#slides .prev {
    left: -60px;
    background-position: 0 0;
}

    #slides .prev:hover {
        background-position: 0 100%;
    }

/*
	Pagination
*/

#slides .pagination {
    position: absolute;
    left: 50%;
    bottom: -30px;
    margin-left: -10px;
}

    #slides .pagination li {
        float: left;
        list-style: none;
        margin: 0 3px;
        cursor: pointer;
    }

        #slides .pagination li span {
            display: block;
            width: 11px;
            height: 12px;
            padding: 0;
            margin: 0;
            border: none;
            text-indent: -999em;
            background: url(/Content/Images/Home/Slider/slides-js-btn.png) 0 0 no-repeat;
        }

        #slides .pagination li.current span {
            background-position: 100% 0;
        }

/*
	Caption
*/

#slides .caption {
    z-index: 500;
    position: absolute;
    top: 80px;
    left: 550px;
    width: 400px;
}

    #slides .caption h3 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    #slides .caption ul {
        list-style: circle;
        margin-top: 20px;
    }

        #slides .caption ul li {
            margin-bottom: 10px;
            margin-left: 20px;
        }
